header{
    color: rgb(0, 0, 0);
    text-align: center;
    width: auto;
    height: auto;
    background-color: rgb(232, 255, 165);
    border-radius: 20px;
    border: 3px solid rgb(250, 154, 0);
    border-left: 7px solid rgb(255, 136, 0);
}
#n2{
    background-color: #d9ecff;      
    border: 2px solid ;      
    color: black;                  
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border-color: rgb(0, 0, 101);
    border-left: 7px solid navy;
    
}
#n3 {
    background-color: #e0f7f4;       
    border: 3px solid #007f73;       
    color: #000000;                  /
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    border-left: 7px solid #007f73;
}
body{
    background-color: #659893;
    
}
.profile-pic {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;        /* adjust size */
    height: 120px;
    border-radius: 50%;  /* makes it circular */
    border: 3px solid darkblue;
    object-fit: cover;
}





