header{
    color: bisque;
    text-align: center;
    width: auto;
    height: auto;
    background-color: black;
    border-radius: 20px;
    
}
#n2{
    background-color: #d9ecff;      
    border: 2px solid ;      
    color: black;                  
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    border-color: rgb(0, 0, 101);
    border-left: 7px solid navy;
    
}
#n3 {
    background-color: #e0f7f4;       
    border: 3px solid #007f73;       
    color: #000000;                  /
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    border-left: 7px solid #007f73;
}
body{
    background-color: #659893;
    
}


